{% extends 'base.html.twig' %}

{% block title %}{{ 'action.edit'|trans }} {{ 'label.patient'|trans }} {{ patient.id }}{% endblock %}

{% block body_id 'patient_edit' %}
{% block body %}

    <div class="container">

        <div class="row justify-content-between">

            <div class="column">

                <h4>
                    
                    {{ patient.firstname }} {{ patient.lastname }} &nbsp;

                    {% if patient.sex == '0' %}
                        <i class="fa fa-mars text-info"></i>
                    {% elseif patient.sex == '1' %}
                        <i class="fa fa-venus text-danger"></i>
                    {% else  %}
                        <i class="fa fa-question-circle text-success"></i>
                    {% endif %}

                    {% if patient.dateOfBirth %}
                        {{ patient.dateOfBirth | age }}
                    {% endif %}

                </h4>
                                    
            </div>        

            <div class="column text-right">
                {{ 'label.recorded'|trans }}: {{ patient.createdAt|date('d-m-y') }}
            </div>        
            
        </div>

    </div>

    {{ include('/patient/_form.html.twig', {

        form: formPat,

        patient: patient,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,

    }, with_context = false) }}

    
    {# 
         button_label: 'action.save'|trans,
            include_back_to_home_link: true,
    #}

    <br>

{% endblock %}



{% block sidebar %}
    {{ include('/patient/_delete_record_confirmation.html.twig') }}
{% endblock %}



{% block javascripts %}

    {{ parent() }}

{% endblock %}
