
<div class="container">

    <h3>{{ app_name }}</h3>
    <h4>{{ 'title.resetting_request'|trans }}</h4>

    <p>
        {{ 'text.resetting_email'|trans }}
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'text.resetting_email1'|trans }}</a>
        {{ 'text.resetting_email2'|trans }} {{ tokenLifetime|date('g') }} h(s)..
    </p>

    <p>
        Cheers!
    </p>

</div>