{% extends 'base.html.twig' %}


{% block title %}{{ 'label.new_password'|trans }}{% endblock %}

{% block body %}

    <div class="container">

        {{ include('_flash_messages.html.twig') }}

        <div class="row">
            <div class="col"></div>

            <div class="col">

                {{ form_start(resetForm) }}

                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary">{{ 'action.save'|trans }}</button>

                {{ form_end(resetForm) }}

            </div>

            <div class="col"></div>

        </div>

    </div>

{% endblock %}
