{% extends 'base.html.twig' %}

{% block title %}KBL EMR{% endblock %}

{% block navbar %}{% endblock %} 


{% block body %}

   <div class="page-hero d-flex align-items-center justify-content-center">


        {% if false %}
            <a href="{{ path(app.request.get('_route')) }}"><img src="{{ asset('build/images/logKS400x200.png') }}"></a>
        {% endif %}

        {% if app.user.center.slug is defined %}
            <a href="{{ path('user_cpanel', {slug:app.user.center.slug} ) }}"><img src="{{ asset('build/images/logKS400x200.png') }}"></a>
        {% else %}
            <a href="{{ path('app_login') }}"><img src="{{ asset('build/images/logKS400x200.png') }}"></a>
        {% endif %}
        
    </div>

{% endblock %}
