{% extends 'base.html.twig' %}

{% block title %}{{ 'title.super_cpanel'|trans }}{% endblock %}

{% block header %}
    {{ include('_header.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-sm-3">
            <p>
                <i class="fa fa-file-medical"></i> {{ 'title.centers'|trans }}
                <ul>
                    <li><a href="{{ path('centers_index') }}">{{ 'title.centers_list'|trans }}</a></li>
                </ul>
            </p>    
        </div>

        <div class="col-sm-3">
                <p>
                    <i class="fa fa-users"></i> {{ 'label.users'|trans }}
                    <ul>
                        <li><a href="">{{ 'label.find_user'|trans }}</a></li>
                    </ul>
                </p>    
        </div>
    

        <div class="col-sm-3">
                <p>
                    <i class="fa fa-desktop"></i> {{ 'title.access'|trans }}
                    <ul>
                        <li><a href="">{{ 'title.sessions'|trans }}</a></li>
                        <li><a href="">{{ 'title.logs'|trans }}</a></li>
                    </ul>
                </p>    
        </div>
    </div>
    
{% endblock %}
