{% extends 'base.html.twig' %}

{% block title %}{{ 'title.center_cpanel'|trans }}{% endblock %}

{% block header %}
    {{ include('_header.html.twig') }}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="col-sm-3">

        <div class="card">
            <div class="card-header"> 
                <h5><i class="fa fa-users"></i> {{ 'label.users'|trans }}</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-list-alt"></i> <a href="{{ path('users_index',{slug:center.slug}) }}"> {{ 'title.users_list'|trans }}</a></li>
                    <li class="list-group-item"><i class="fa fa-user-md"></i> <a href="{{ path('medics_index',{slug:center.slug}) }}"> {{ 'label.medic.users'|trans }}</a></li>
                    <li class="list-group-item"><i class="fa fa-calendar-check-o"></i> <a href="{{ path('agendas_users',{slug:center.slug}) }}"> {{ 'label.agendas.users'|trans }}</a></li>
                </ul>
            </div>
        </div>

    </div>
    
    <div class="col-sm-3">

        <div class="card">
            <div class="card-header"> 
                <h5><i class="fa fa-sitemap"></i> {{ 'entity.title'|trans }}</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-ambulance"></i> <a href="{{ path('insurances_index',{slug:center.slug}) }}"> {{ 'entity.title_inss'|trans }}</a></li>
                    <li class="list-group-item"><i class="fa fa-question-circle"></i> <a href="{{ path('sources_index',{slug:center.slug}) }}"> {{ 'entity.title_sou'|trans }}</a></li>
                    <li class="list-group-item"><i class="fa fa-list-ul"></i> <a href="{{ path('types_index',{slug:center.slug}) }}"> {{ 'label.treatments'|trans }}</a></li>
                    <li class="list-group-item"><i class="fa fa-building-o"></i> <a href="{{ path('places_index',{slug:center.slug}) }}"> {{ 'label.places'|trans }}</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-sm-3">

        <div class="card">
            <div class="card-header"> 
                <h5><i class="fa fa-folder-open-o"></i> <a href="{{ path('doc_groups_index',{slug:center.slug}) }}"> {{'label.docs'|trans}}</a></h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for group in groups %}
                    <li class="list-group-item"><i class="fa fa-file-o"></i> <a href="{{ path('docs_index', {slug:center.slug, id:group.id} ) }}">{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <br>

        <div class="card">
            <div class="card-header"> 
                <h5><i class="fa fa-folder-open"></i> <a href="{{ path('report_types_index',{slug:center.slug}) }}"> {{'label.reports'|trans}}</a></h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                {% for group in groups %}
                    <li class="list-group-item"><i class="fa fa-file-o"></i> <a href="{{ path('docs_index', {slug:center.slug, id:group.id} ) }}">{{ group.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>


    
    </div>

    <div class="col-sm-3">

        <div class="card">
            <div class="card-header"> 
                <h5><i class="fa fa-cog"></i> Program Settings</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-toggle-on"></i> <a href="{{ path('program_options',{slug:center.slug}) }}">
                        {{ 'program.options'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-toggle-on"></i> Configuration
                    </li>
                    <li class="list-group-item"><i class="fa fa-lock"></i> <a href=""> Permissions</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>

{% endblock %} 
