<div role="tabpanel" class="tab-pane fade" id="nav-4">

    <div class="row">
    
        <div class="col-sm-4">

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNewImg" aria-expanded="false" aria-controls="collapseNewImg">
                {# Button with data-target #}
                <i class="fa fa-camera"></i> {{button_label_new}}
            </button>

            <div class="row"> 
                &nbsp;
            </div>

            <div class="collapse" id="collapseNewImg">

                {{ form_start(form) }}

                    <div class="row">
                        
                    </div>

                    <div class="row"> 
            
                        <div class="form-group col">   
                    
                            {{ form_row(form.docFile, {
                                    attr: {
                                        'placeholder': 'Seleccione una imagen'
                                    }
                                }) 
                            }}


                            {{ form_row(form.description, {
                                    attr: {
                                        'placeholder': 'Describa la imagen'
                                    }
                                }) 
                            }}

                            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseNewImg" aria-expanded="false" aria-controls="collapseNewImg">
                                    <i class="fa fa-undo-alt"></i> {{ button_label_cancel }} 
                            </button>
                            <button type="submit" class="btn btn-outline-danger collapse">
                                <i class="fa fa-file-upload"></i> {{ button_label_upload }} 
                            </button>           

                        </div>

                    </div>

                {{ form_end(form)}}                  

            </div>

        </div>

        <div class="col-sm-8">
            <table class="table table-responsive table-striped js-imgs-table">
                <tbody>
                    {% for img in imgs %}
                    <tr>
                        <td>
                            <a href="" 
                                class="js-delete-record" data-url="{{ path('img_delete', {id: img.id}) }}"
                            >
                                <span class="fa fa-trash text-danger"></span>
                            </a>        
                        </td>                
                        <td>{{img.updatedAt|date('d/m/y') }}</td>
                        <td>
                            {{ img.originalFilename }}
                            <br><br>
                            <strong>{{ img.description }}</strong>
                        </td>
                        <td>
                        {% if true or form.vars.data.docFile|default %}
                            <a href="{{ path('img_patient_download', {
                                    id: img.id,
                                    slug:app.user.center.slug
                                }) }}" target="_blank">
                                <img src="{{ img.filePath|imagine_filter('square_thumbnail_small') }}">
                            </a>
                        {% endif %}
                        </td> 
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>

    </div>

</div>
