<div role="tabpanel" class="tab-pane fade" id="nav-5">

  <div class="row"> 

        <div class="col-sm-4">
    
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNewImg" aria-expanded="false" aria-controls="collapseNewImg">
                {# Button with data-target #}
                <i class="fa fa-clipboard"></i> {{button_label_new}}
            </button>

            <div class="row"> 
                &nbsp;
            </div>

            <div class="collapse" id="collapseNewImg">

                {{ form_start(form) }}


                    <div class="row">
                        
                    </div>
            
                    <div class="row"> 
            
                        <div class="form-group col">   
                            
                            {{ form_row(form.docFile, {
                                    attr: {
                                        'placeholder': 'Seleccione un documento',
                                    }
                                }) 
                            }}
                            
                            {{ form_row(form.description, {
                                    attr: {
                                        'placeholder': 'Describa el documento'
                                    }
                                }) 
                            }}


                            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseNewImg" aria-expanded="false" aria-controls="collapseNewImg">
                                    <i class="fa fa-undo-alt"></i> {{ button_label_cancel }} 
                            </button>
                            <button type="submit" class="btn btn-outline-danger collapse"><i class="fa fa-file-upload"></i> {{ button_label_upload }} </button>           
                        </div>
            
                    </div>
            
                {{ form_end(form)}}
                
            </div>           

    
        </div>

        <div class="col-sm-8">

           <table class="table table-responsive table-striped js-docs-table">

                <tbody>
                    {% for doc in docs %}
                     <tr>
                        <td>
                            <a href="" 
                                class="js-delete-record" data-url="{{ path('doc_delete', {id: doc.id}) }}"
                            >
                                <span class="fa fa-trash text-danger"></span>
                            </a>        
                        </td>                
                        <td>{{doc.updatedAt|date('d/m/y') }}</td>
                        <td>
                            {{ doc.originalFilename }}
                            <br><br>
                            <strong>{{ doc.description }}</strong>
                        </td>

                        
                        <td>
                        {% if true or form.vars.data.docFile|default %}

                        <h2>

                            <a href="{{ path('doc_patient_download', {
                                    id: doc.id,
                                    slug:app.user.center.slug
                                }) }}" target="_blank">

                                <i class="fa fa-file-pdf-o"></i>
                                {# <img src="{{ doc.filePath|imagine_filter('square_thumbnail_small') }}"> #}

                            </a>

                        </h2>

                        {% endif %}
                        </td> 
                    </tr>
                    {% endfor %}    
                </tbody>

            </table>

        </div>

    </div>

</div>


