{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block header %}
    {{ include('_header.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header"> 
                    <h5><i class="fa fa-users"></i> {{ 'title.patients'|trans|upper }}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fa fa-clipboard"></i> <a href="{{ path('patient_new',{slug:app.user.center.slug} ) }}">{{ 'action.new'|trans }} {{ 'label.patient'|trans }}</a></li>
                        <li class="list-group-item"><i class="fa fa-list-alt"></i> <a href="{{ path('patient_index', {slug:center.slug}) }}">{{ 'label.last.records'|trans }}</a></li>
                        <li class="list-group-item"><i class="fa fa-search"></i> <a href="{{ path('patient_search', {slug:center.slug} ) }}">{{ 'label.search'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header"> 
                    <h5><i class="fa fa-calendar-check-o"></i> Agendas</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for agenda in agendas %}
                            <li class="list-group-item">
                                <form method="post" action="https://www.supersaas.com/api/users" target="_blank">
                                    <input type="hidden" name="account" value="{{ ac_name }}"/>
                                    <input type="hidden" name="id" value="{{ user.id }}fk"/> <!-- The user has ID 1234 on your server's database -->
                                    <input type="hidden" name="user[name]" value="{{ user.email }}"/>
                                    <input type="hidden" name="user[phone]" value=""/>
                                    <!-- you can add and remove fields on the "Access Control" screen -->
                                    <input type="hidden" name="checksum" value="{{ checksum }}"/>
                                    <input type="hidden" name="after" value="{{ agenda.name }}"/>
                                    <input type="submit" class="btn btn-block btn-secondary" value="{{ agenda.name }}"/>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>  

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header"> 
                    <h5><i class="fa fa-folder-open"></i> {{'label.docs'|trans}}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    {% for group in groups %}
                        <li class="list-group-item"><i class="fa fa-file-alt"></i> <a href="{{ path('docs_index', {slug:center.slug, id:group.id} ) }}">{{ group.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>  

    </div>
    
{% endblock %}
